.form_details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
main {
  background-color: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: fit-content;
  min-height: 100vh;
}
.form_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.form_description button {
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 15px;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 0.825);
  cursor: pointer;
}
main h1 {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.815);
}
main {
  padding: 1rem;
}
.form_details input {
  width: 25%;
  font-size: 1.1rem;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.843);
  text-align: center;
  border-style: none;
  border-radius: 10px;
}
.form_description input {
  width: 25%;
  font-size: 1.1rem;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.864);
  text-align: center;
  border-style: none;
  border-radius: 10px;
}
.transactioninfo {
  display: flex;
  width: 80%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.805);
  margin: auto;
  border-radius: 25px;
  margin-top: 1rem;
}
.transactioninfo_content {
  width: 60%;
  font-size: 1.1rem;
}
.transactioninfo_price {
  width: 30%;
  text-align: end;
}
.red {
  color: rgb(244, 27, 27);
}
.green {
  color: rgb(1, 165, 1);
}
